<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", user-scalable="no", content="initial-scale=0">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" media="all"/>
    <title>iPark Main Page</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="active"><a href="./">Home</a></li>
          <li><a href="map">Map</a></li>
        </ul>
      </div>
    </div>
    <!-- End Navbar -->
    
    <!-- Title -->
    <div class="container heading_padding text-center">
      <h1 class="text-center"><strong>iPark</strong></h1>
      <h3 class="text-center">Parking made easy.</h3>
    </div>
    <!-- End Title -->
    
    <!-- Search Bar -->
    <div class="row container search_padding">
      <div class="col-sm-8 col-sm-offset-3">
        <form method="post" action="/get_spaces">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type in an address...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <!-- End Search Bar -->
    
    <!-- Sign Up/Log in -->
    <div class="containter search_padding">
      <h5 class="text-center"><a href="sign-up.html"><u>Sign Up!</u></a></h5>
      <h5 class="text-center">Already a member? Log in <a href="login.html"><u>here</u></a>.</h5>
    </div>
    <!-- End Sign Up/Log In -->
    
    <hr class="hiw_padding" align="center" width="50%"/>    
    
    <!-- How It Works -->
    <h2 class="text-center">How it works:</h2>
    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <h3>Step 1:</h3>
        <h5>Search an address to see the available parking spots in your area.</h5>
      </div>
      <div class="col-md-2">
        <h3>Step 2:</h3>
        <h5>Click on your desired parking spot.</h5>
      </div>
      <div class="col-md-2">
        <h3>Step 3:</h3>
        <h5>Contact parking spot owner and make transaction.</h5>
      </div>
    </div>
    
    <hr align="center" width="50%"/>
    <!-- End How It Works -->
    
    
    
    <div class="bottom-centered">
      <h6 class="text-center">Thanks for stopping by.</h6>
    </div>
    
  </body>
</html>
