<!DOCTYPE html> 
<html>
<head>
	<title>User Profile</title>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width", user-scalable="no", content="initial-scale=0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="./">Home</a></li>
          <li><a href="map.html">Map</a></li>
        </ul>
      </div>
    </div>
    
    <h1 class="title text-center">Hello, ___________.</h1>
    
    <div class="container">
      <h2>Your Profile:</h2>
      <p>Information here.</p>

    </div>
  </body>
</html> 